    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }

    header {
        background-color: #004587; 
        color: white;
        padding: 40px 20px;
        text-align: center;
        border-bottom: 8px solid #f7941d; 
    }

    header h1 {
        margin: 0;
        font-size: 2.5rem;
    }
    header img{
        padding: 20px;
    }
 
    main {
        max-width: 900px;
        margin: 20px auto;
        background: white;
        padding: 30px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 8px;
    }

   
    section {
        margin-bottom: 30px;
    }

    h2 {
        color: #004587;
        border-left: 5px solid #f7941d;
        padding-left: 15px;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li {
        background: #eef4f9;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 5px;
        border-left: 3px solid #004587;
    }

    ul li strong {
        color: #004587;
    }

 footer {
        text-align: center;
        padding: 20px;
        font-size: 0.9rem;
        color: #6e6e6e;
    }
